@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Oxygen&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background-color: #14d08e;
}

.logo {
    color: #0d0507;
    font-family: 'Kanit', sans-serif;
}

.error-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Oxygen', sans-serif;
}

.error-page .error-title {
    color: #0d0507;
    font-size: 6em;
}

.error-page .error-unexpected {
    color: #f9fbeb;
    font-size: 2em;
}

.error-page .error-message {
    color: #204948;
    font-size: 2em;
    font-weight: bold;
}

/*

#f9fbeb
#14d08e
#0d0507
#204948

*/


/* BOOTSTRAP */
.primary {
    
}